:root{
  --color-container: #A27F5C;
  --color-tree: #538742;
  --color-border: #72553D;
  --color-heads: #FAF399 ;
  --color-tale: #D1DFA6;
  --color-mouth: #966364;
}
h1{
  color:var(--color-heads)
}

.App {
  display:flex;
  flex-direction: column;
 align-items: center;
 column-gap: 50px;
}
.centered{
  display: flex;
  flex-direction: row;
  height: 1000px ;
  width: 1250px;
 justify-content: space-between;
  align-items: center;
 /* border: 2px solid red; */
 
}
.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  height: 900px ;
  width: 900px;
  /* border: 3px solid var(--color-tree); */
  padding-top: 10px;
  
}
.dashboard{
  display: flex;
  flex-direction: column;
  height: 200px ;
  width: 200px;
}

.getPokemon{
  height: 50px ;
  width:100px;
}

input{
  position: fixed;
  height: 40px ;
  width:150px;
  border: none;
  outline: none;
  /* border-radius: 0 15px; */
  border-radius: 20px;
  padding: 0 25px;
  background-color: var(--color-heads);
  color: var(--color-tree)
}


.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  height: 250px;
  margin: auto;
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0px 4px 12px -2px ;
  color:  #120902;
  opacity: 1;
  
}
a{
  text-decoration: none;
  color: var(--color-tale);
}
img{
  height: 150px ;
  width:150px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px -2px;
}
.pokeType{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* row-gap: 10px; */
}
.classType{
  height: 20px ;
  width:70px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--color-border);
  color: var(--color-tale);
}
.cardMax{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 500px;
  margin: auto;
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0px 4px 12px -2px ;
  color:  #120902;
  opacity: 1;
} 

.navBar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid red; */
  border-radius: 15px;
  width: 550px;
  height: 50px;
  background-color: var(--color-tree);
  color: var(--color-heads);
}

span{
  /* border: 2px solid yellow; */
  padding: 15px;
  border-radius: 15px;
}

span:hover{
  background-color: var(--color-mouth);
}

.formClass{
   /* position: relative;  */
  display: flex;
  flex-direction: column-reverse;
  
  /* justify-content: space-around; */
 
  /* border: 2px solid var(--color-tree); */
  width: 400px;
  height: 300px;
  padding: 32px;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
  /* max-width: remy(380px); */
  background-color:var(--color-heads);
  border-radius: 3px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);


}
.formClass input{
  /* display: block; */
  
  background-color: var(--color-mouth);
  height: 20px ;
  width:100px;
  border-radius: 5px;
  
}

 .formInside{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 10px; */
} 

label{
  /* height: 40px ;
  width: 100 px;
  border: 1px solid violet;
  padding: 15px;
  margin: 20px; */
  display: block;
  margin-bottom: .5rem;
  font-size: .75rem;
  text-transform: uppercase;
  touch-action: manipulation;
}
button{
  display: inline-block;
  padding: .75rem 1rem;
  margin-top: 1.618rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-heads);
  vertical-align: middle;
  white-space: nowrap;
  background-color: var(--color-mouth);
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  cursor: pointer;
  border-radius: 5px;
  height: auto;
}